body {
	  margin: 0;
	  overflow: visible;
    font-family: 'Anaheim';font-size: 19px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;


    }
    100% {
        opacity: 1;
     }
}
}


#overlay {

	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}

.ui {
position: absolute;
    top: 0;
	left: 9%;
    right: 9%;
}

.uibim {
position: absolute;

	left: 9%;
    right: 9%;
}


.container {

  width: 100px;
  height: 150px;
  border: 1px solid;
  left: 9%;
  right: 9%;

}

.gridcontainer {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(0, 100px);
    left: 5%;
    right: 5%;
    margin:auto;

}


.navbarindex{

z-index:5;
}


menubutton {

transition: background 0.8s;
transition: all 0.7s ease-in-out;


}

menubutton:hover {
transform: scale(1.05);
box-shadow: none;
}

.menubuttonanim{

transition: background 0.8s;
}

.menubuttonanim:active {

transform: scale(0.98); translateY(10px);

}

#fillheight {
    height: 100vh;

}

#fillwidth {
    width: 100vw;

}
